<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
<servlet>
  <servlet-name>general</servlet-name>
  <servlet-class>general</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>general</servlet-name>
  <url-pattern>/general</url-pattern>
</servlet-mapping>
<servlet>
  <servlet-name>controller.Usuario</servlet-name>
  <servlet-class>controller.Usuario</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>controller.Usuario</servlet-name>
  <url-pattern>/usuario</url-pattern>
</servlet-mapping>
<servlet>
  <servlet-name>controller.UsuarioWeb</servlet-name>
  <servlet-class>controller.UsuarioWeb</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>controller.UsuarioWeb</servlet-name>
  <url-pattern>/usuarioweb</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>controller.Libro</servlet-name>
  <servlet-class>controller.Libro</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>controller.Libro</servlet-name>
  <url-pattern>/libro</url-pattern>
</servlet-mapping>
<servlet>
  <servlet-name>controller.LibroWeb</servlet-name>
  <servlet-class>controller.LibroWeb</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>controller.LibroWeb</servlet-name>
  <url-pattern>/libroweb</url-pattern>
</servlet-mapping>

</web-app>
